In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2022-02-16 04:51:35,71.6872,128.8694,-20.24,98,38,2.28
1,1,Mahebourg,MU,2022-02-16 04:54:38,-20.4081,57.7000,81.25,89,40,11.50
2,2,Lavrentiya,RU,2022-02-16 04:54:39,65.5833,-171.0000,-15.57,93,64,9.01
3,3,Lompoc,US,2022-02-16 04:54:39,34.6391,-120.4579,54.09,78,0,18.99
4,4,Portland,US,2022-02-16 04:51:31,45.5234,-122.6762,47.89,85,100,8.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mahebourg,MU,2022-02-16 04:54:38,-20.4081,57.7000,81.25,89,40,11.50
8,8,Kralendijk,BQ,2022-02-16 04:54:41,12.1500,-68.2667,76.98,78,40,13.80
14,14,Thinadhoo,MV,2022-02-16 04:54:43,0.5333,72.9333,82.94,67,100,14.09
15,15,Nizamabad,IN,2022-02-16 04:54:44,18.6667,78.1167,81.91,40,5,7.20
22,22,Boali,CF,2022-02-16 04:54:47,4.8005,18.1275,76.87,35,68,1.66
26,26,Puerto Ayora,EC,2022-02-16 04:52:25,-0.7393,-90.3518,76.55,93,83,5.99
27,27,Dhidhdhoo,MV,2022-02-16 04:54:49,6.8833,73.1000,80.92,69,37,2.66
28,28,Kapaa,US,2022-02-16 04:54:49,22.0752,-159.3190,75.18,74,3,11.70
29,29,Padang,ID,2022-02-16 04:54:50,-0.9492,100.3543,86.05,61,64,7.20
30,30,Bathsheba,BB,2022-02-16 04:51:14,13.2167,-59.5167,77.61,78,40,28.77

In [22]:
preferred_cities_df.count()

City_ID       142
City          142
Country       141
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1      Mahebourg      MU     81.25 -20.4081   57.7000
8     Kralendijk      BQ     76.98  12.1500  -68.2667
14     Thinadhoo      MV     82.94   0.5333   72.9333
15     Nizamabad      IN     81.91  18.6667   78.1167
22         Boali      CF     76.87   4.8005   18.1275
26  Puerto Ayora      EC     76.55  -0.7393  -90.3518
27     Dhidhdhoo      MV     80.92   6.8833   73.1000
28         Kapaa      US     75.18  22.0752 -159.3190
29        Padang      ID     86.05  -0.9492  100.3543
30     Bathsheba      BB     77.61  13.2167  -59.5167

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mahebourg,MU,81.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Kralendijk,BQ,76.98,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
14,Thinadhoo,MV,82.94,0.5333,72.9333,
15,Nizamabad,IN,81.91,18.6667,78.1167,Hostel Luxury A/C
22,Boali,CF,76.87,4.8005,18.1275,Auberge des Cocotiers Boali poste
26,Puerto Ayora,EC,76.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Dhidhdhoo,MV,80.92,6.8833,73.1000,Dhidhoo beach
28,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Padang,ID,86.05,-0.9492,100.3543,Mercure Padang
30,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))